.container{
  width: 70%;
  height: 100%;
  padding: 1rem 3rem 2rem 2rem;
}

.containerSelected{
  background-color: beige;
  width: 100%;
  height:  100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

.mainContent{

  display: flex;
  justify-content: center;
  flex-direction: row
}