.container {
  width: 70%;
  height: 100%;
  padding: 1rem 3rem 2rem 2rem;
}

.containerSelected {
  background-color: beige;
  width: 94%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.mainContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.imgContainer {
  width: 50%;
  height: auto;
  border-radius: 0.5rem;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.gearItem,
.friends,
.enemys {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  display: flex;
}

.statsShield{
  width: 40px;
  height: auto;

}
.statsShieldImg {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}